//
// Miscellaneous
//



// Box shadow

$box-shadow-raised:   0 20px 25px -20px !default;


// Border

$border-radius: 4px !default;
$border-radius-2: 8px !default;


// Transitions

$transition-cubic-bezier: 0.86, 0, 0.07, 1 !default;


// Layout

$menu_width: 100% !default;
