@import "./../core/index";


.pdm-accordion {
	.elementor-accordion-item {
		background-color: var($color-white);
		border-radius: 8px;

		&:not(:last-child) {
			margin-bottom: 1.5em;
		}
	}

	// Apply raised shadow on active content

	.elementor-tab-content.elementor-active {
		box-shadow: $box-shadow-raised rgba(varRGB($color-secondary), 0.25);
	}
}

